
body{
    background-image: url("../image/bag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;
}
.logo{
    position: absolute;
    left: .15rem;
    top: .18rem;
    width: 1.17rem;
}
.font{
    height: 40vh;
}
.font_1{
    width: 5.51rem;
}
.swiper-container{
    width: 100vw;
    height: 50vh;
}
.swiper-slide{
    background: white;
    border-radius: 10px;
}
.font_2{
    font-size: .36rem;
    margin-bottom: .38rem;
}

.erw{
    width: 3.35rem;
}
.font_2_1{
    font-size: .34rem;
    margin-top: .41rem;
}
.font_2_2{
    font-size: .34rem;
    color: #188fe3;
}
.font_2_3{
    font-size: .3rem;
    color: #999;
}